body {
  background-color: #DDD;
  font-family: Helvetica, Verdana, Arial;
  color: #555;
}

div#out {
  margin:0 auto;
  position: relative;
  width: 70%;
  padding: 1%;
  background-color: #F0F0F0;
  -webkit-box-shadow: 0 0 1em #888;
     -moz-box-shadow: 0 0 1em #888;
       -o-box-shadow: 0 0 1em #888;
          box-shadow: 0 0 1em #888;
  -webkit-border-radius:10px;
     -moz-border-radius:10px;
       -o-border-radius:10px;
          border-radius:10px;
}

a {
  color: #0092BF;
  text-decoration:none;
       -webkit-transition:color .25s;  
          -moz-transition:color .25s;  
            -o-transition:color .25s;  
               transition:color .25s;
}

a:hover {
  color: #555;
}

a:active {
  color: #004A61;
}
